img {
    position: absolute;
}
body {
    width: 60%;
    margin: 0 auto;
}

div {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: cyan;
}
#rightSide {
    margin: auto 530px;
    background-color: deepskyblue;
}